<div class="card-product">
  <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
  <% if meal.photo.attached? %>
      <%= cl_image_tag meal.photo.key, crop: :fill %>
  <% else %>
     <%= image_tag 'LogoHuntingFoodWithBg', crop: :fill %>
  <% end %>
  <div class="card-product-infos">
    <h2><%= meal.name %></h2>
    <p><%= meal.description %></p>
    <p class="bottom"><%= meal.price %>$</p>
  </div>

</div>

