<div class="smallcard" 
data-controller="defilement-img" 
data-defilement-img-nphotos-value = <%= restaurant.photos.count %>>
    <% if !restaurant.photos.empty? && restaurant.photos.count != 1%>
        <div class="btn-img-outside">

            <div>
                <button class="btn-left" data-action="click->defilement-img#previous">
                        <i class="fa-sharp fa-solid fa-circle-chevron-left"></i>
                </button>
            </div>
            
            <div>
                <button class="btn-right" data-action="click->defilement-img#next">
                    <i class="fa-sharp fa-solid fa-circle-chevron-right"></i>
                </button>
            </div>
            
        </div>
    <% end %>
<%= link_to restaurant_path(restaurant)do %>
    <% if restaurant.photos.empty? %>

        <div class="imgcard" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(' <%=  image_path 'LogoHuntingFoodWithBg' %>'); background-size: cover; background-position: center;">
            <div class="fav">
                <% if !current_user.nil? && !current_user.favorites.where(restaurant_id: restaurant).empty?  %>
                    <div class="redheart">
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                <% else %>
                    <div class="heart">
                        <i class="fa-duotone fa-regular fa-heart"></i>
                    </div>
                    <div class="fheart">
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                <% end %>
            </div>

            <div class="btn-img">
            </div>

            <div class="spacedot">
            </div>
        </div> 

    <% elsif restaurant.photos.count == 1 %>

        <% restaurant.photos.each do |photo| %>
            <div class="imgcard" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url('<%= cl_image_path photo.key %>'); background-size: cover; background-position: center;">
                <div class="fav">
                    <% if !current_user.nil? && !current_user.favorites.where(restaurant_id: restaurant).empty?  %>
                        <div class="redheart">
                            <i class="fa-sharp fa-solid fa-heart"></i>
                        </div>
                    <% else %>
                        <div class="heart">
                            <i class="fa-duotone fa-regular fa-heart"></i>
                        </div>
                        <div class="fheart">
                            <i class="fa-sharp fa-solid fa-heart"></i>
                        </div> 
                    <% end %>
                </div>

                <div class="btn-img">
                </div>

                <div class="spacedot">
                </div>
            </div>
        <% end %>

    <% else %>

        <% restaurant.photos.each do |photo| %>
            <div class="imgcard" data-defilement-img-target="img" 
            style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url('<%= cl_image_path photo.key %>'); background-size: cover; background-position: center;">
                
                <div class="fav">
                    <% if !current_user.nil? && !current_user.favorites.where(restaurant_id: restaurant).empty?  %>
                        <div class="redheart">
                            <i class="fa-sharp fa-solid fa-heart"></i>
                        </div>
                        
                   
                    <% else %>
                    <div class="heart">
                        <i class="fa-duotone fa-regular fa-heart"></i>
                    </div>
                    <div class="fheart">
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                        
                    <% end %>
                </div>
                <div class="btn-img">

                    <%# <div>
                        <button class="left" data-action="click->defilement-img#previous">
                                <i class="fa-sharp fa-solid fa-circle-chevron-left"></i>
                        </button>
                    </div>
                    
                    <div>
                        <button class="right" data-action="click->defilement-img#next">
                            <i class="fa-sharp fa-solid fa-circle-chevron-right"></i>
                        </button>
                    </div>
                     %>
                </div>
                <div class="spacedot">
                </div>
            </div>
        <% end %>
        <div class="dots-img">
            <% (restaurant.photos.count > 5 ? 5 : restaurant.photos.count).times do %>
                    <i data-defilement-img-target="dot" class="fa-solid fa-circle"></i>   
            <% end %>
        </div>
    <% end %>
    <div class="infocard">
        <h3 class="cutoff-text"><%= restaurant.name %></h3>
        <p class="cutoff-text"><%= restaurant.address %></p>
        <div class="openrate">
            <% if restaurant.open? %>
                <p class="open">Open</p>
            <% else %>
                <p class="closed">Closed</p>
            <% end %>
            <div class="ratingcard">
                <%= (restaurant.rating % 1) == 0 ? restaurant.rating.to_i : restaurant.rating %>
            </div>
        </div>
    </div>
<% end %>
</div>
