<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "LogoHuntingFood.png" %>
      <h1><span>Food</span>Hunting</h1>
    <% end %>

    <div class="search">
      <%= render "components/searchbar" %>
    </div>
    

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

  

    <%# <div class="collapse navbar-collapse" > %>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          
          <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", userProfile_path, class: "dropdown-item" %>
              <%= link_to "Your restaurants", userRestaurants_path, class: "dropdown-item" %>
              <%= link_to 'Create a restaurant', new_restaurant_path, class: "dropdown-item" %>
              <%= link_to "Your raitings", userRatings_path, class: "dropdown-item" %>
              <%= link_to "Your comments", userComments_path, class: "dropdown-item" %>
              <%= link_to "Your favorites", userFavorites_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
            <div class= "avatar dropdown-toggle no-avatar", id= "navbarDropdown", data-bs-toggle= "dropdown", aria-haspopup= "true", aria-expanded= "false"><%= current_user.nickname.first %></div>
            <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", userProfile_path, class: "dropdown-item" %>
              <%= link_to "Your restaurants", userRestaurants_path, class: "dropdown-item" %>
              <%= link_to 'Create a restaurant', new_restaurant_path, class: "dropdown-item" %>
              <%= link_to "Your raitings", userRatings_path, class: "dropdown-item" %>
              <%= link_to "Your comments", userComments_path, class: "dropdown-item" %>
              <%= link_to "Your favorites", userFavorites_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    <%# </div> %>
  </div>
</div>
