<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div>
    <%= simple_form_for :queries, url: restaurants_path, method: :get  do |f| %>
      <%= f.input :query, placeholder: "Find a restaurant", input_html: {value: params[:queries].nil? ? "" : params[:queries][:query]} %>
      <% if flash[:query_errors] %>
        <% flash[:query_errors].each do |msg| %>
          <p> <%= msg %> </p>
        <% end %>
      <% end %>
    <%= f.hidden_field :order, value: "best" %>
      <%= f.input :address,
      input_html: { data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
      <%= f.input :distance, input_html: {value: params[:queries].nil? ? "" : params[:queries][:distance]} , placeholder: "Distance in km" %>
      <%= f.input :type, collection: ["Restaurants", "Meals", "Proteins+", "Proteins-", "Carbs+", "Carbs-", "Fats+",  "Fats-"], selected: params[:queries].nil? ? "Restaurants" : params[:queries][:type] %>
      <%= f.button :submit, "Search" %>
  <% end %>
</div>
<div data-controller="submit-item">
  <%= simple_form_for :queries, url: restaurants_path, method: :get, data:{submit_item_target: "form"}  do |f| %>
    <% if params[:queries].nil? || params[:queries][:type] == "Restaurants" %>
    <div data-action = 'click->submit-item#submit'>
      <%= f.input :order, as: :radio_buttons, collection: [
        ['Newer', 'new'], 
      ['Older', 'old'],
      ['More comments', 'comment'],
      ['Better rating', 'best']], 
      label_method: :first, value_method: :second %>
    </div>
    <% else %>
      <div data-action = 'click->submit-item#submit'>
        <%= f.input :order, as: :radio_buttons, collection: [
            ['Newer', 'new'], 
          ['Older', 'old'],
          ['Better rating', 'best']], 
          label_method: :first, value_method: :second %>
        </div>
    <% end %>

    <%= f.hidden_field :query, value: params[:queries].nil? ? "" : params[:queries][:query] %>
    <%= f.hidden_field :address, value: params[:queries].nil? ? "" : params[:queries][:address] %>
    <%= f.hidden_field :distance, value: params[:queries].nil? ? "" : params[:queries][:distance] %>
    <%= f.hidden_field :type, value: params[:queries].nil? ? "Restaurants" : params[:queries][:type] %>
    
  <% end %>
</div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          
          <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Your restaurants", userRestaurants_path, class: "dropdown-item" %>
              <%= link_to "Your raitings", userRatings_path, class: "dropdown-item" %>
              <%= link_to "Your comments", comments_path, class: "dropdown-item" %>
              <%= link_to "Your favorites", userFavorites_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Your restaurants", userRestaurants_path, class: "dropdown-item" %>
              <%= link_to "Your raitings", userRatings_path, class: "dropdown-item" %>
              <%= link_to "Your comments", userComments_path, class: "dropdown-item" %>
              <%= link_to "Your favorites", userFavorites_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
