<div class="form-ingredient">

  <h2>Your ingredient's details</h2>

  <div class="search-ingredient">
  
    <%= form_with url: new_restaurant_meal_ingredient_path(@meal.restaurant, @meal), method: :get, class: "d-flex" do %>
      
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a product"
      %>

      <div class="submit-btn">
        <%= submit_tag "Search" %>
      </div>

    <% end %>

    <div class="instruction">
      <p>*Find the ingredient in our database. Use the name on the package.</p>
    </div>
    

  </div>

  <% if params[:query].present? %>
 

    <div class="query-present" data-controller="submit-item">
        <%= simple_form_for([@meal.restaurant, @meal, @ingredient], data:{submit_item_target: "form"}) do |f| %>
            <% label_method = proc { |p| 
            "<div data-action = 'click->submit-item#submit'>
                <div>#{image_tag(p.image_small_url)}</div>
                <div class='name'>#{p.product_name}</div>
            </div>".html_safe } %>
            <%= f.input :weight, required: true, label: false, placeholder: "Weight (g)"%>
            <div class="errors">
              <% if flash[:ingredient_errors] && flash[:ingredient_errors]["weight"] %>
                  <% flash[:ingredient_errors]["weight"].each do |msg| %>
                    <%= msg %>
                  <% end %>
              <% end %>
            </div>
            
            <%= f.input :name, required: true, label: false, placeholder: "Name (ex: steak, farine, laituce etc)"%>
            
            <% if flash[:ingredient_errors] &&  flash[:ingredient_errors]["name"] %>
    
              <div class="errors">
                <%= flash[:ingredient_errors]["name"].first %>
              </div>
                
            <% end %>

            <%= f.hidden_field :query, value: params[:query] %>

            <p>
            Provide the weight and the name first. Select the ingredient after. <br>
            Make sure the name is the simpliest possible to favorise the research of the customer. 
            </p>

            <%= f.input :code, label: false, as: :radio_buttons, 
            collection: @products, 
            label_method: label_method, 
            value_method: :code, 
            wrapper_html: { label: false } %>
        <% end %>
    </div>

  <% end %>

</div>
