<div class="user-profile">
    <div class="space-between"></div>

    <div class="img-username">

        <div class="outside-user-img">
            <% if current_user.photo.key.nil? %>
                <div class="user-img" style="background-image: url('<%= image_path "LogoHuntingFoodWithBg.jpg" %>'); background-size: cover; background-position: center;">
                </div>
            <% else %>
                <div class="user-img" style="background-image: url('<%= cl_image_path @user.photo.key %>'); background-size: cover; background-position: center;">
                </div>
            <% end %>
        </div>

        <div class="info-user">
            <h3><%= current_user.nickname %></h3>
        </div>

    </div>

    <div class="space-between"></div>
    <div class="show-info-user">
        <p>You created your account the <%= current_user.created_at.strftime("%A %-d %B %Y")  %>.</p>
        <p>You have been with us for <%= formatted_duration(Time.current - current_user.created_at) %>.</p>
        <p>You have <%= current_user.restaurants.count %> restaurant(s).</p>
        <p>You have <%= current_user.favorites.count %> favorite(s).</p>
    </div>

    <div class="space-between"></div>

    <div class="show-user-link">
        <p><%= link_to "Edit your profile", edit_user_registration_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
        <p><%= link_to "Delete your profile", user_registration_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
    </div>
    

</div>