<div class="form-meal">

  <h2>Your meal's details</h2>

  <div class="info">
  
    <%= simple_form_for [ @restaurant, @meal ] do |f| %>
      <%= f.input :name, label: false, placeholder: 'Name' %>
      <%= f.input :description, label: false, placeholder: 'Description' %>
      <%= f.input :price, label: false, placeholder: 'Price' %>
      <%= f.input :photo, label: "Upload some pictures", as: :file %>

  </div>

  <div class="submit-back">
          <%= f.submit "Create your meal" %>
      <% end %>
  
      <%= link_to "Back", restaurants_path %>
  </div> 
  

  

</div>

