<div class="show-meal">
    <% if @meal.photo.attached? %>
            
        <div class="img-meal">

            <%= cl_image_tag @meal.photo.key, crop: :fill %>

        </div>

    <% else %>

        <div class="img-meal">

            <%= image_tag 'LogoHuntingFoodWithBg', crop: :fill %>

        </div>
        
    <% end %>
   
    <div class="meal-ingredient" data-controller="defilement-ingredient-show"
    data-defilement-ingredient-show-ningredients-value = <%= @meal.ingredients.count %> >

        <div class="info-meal">
      
            <div class="name">

                <h2> <%= @meal.name %> </h2>

            </div>
            

            <div class="description">
                <p><%= @meal.description %> </p>

                <p>Price: <%= @meal.price %>$</p>
            </div>

            <div class="nutriments">

                <p>Proteins: <%= (@meal.protein % 1) == 0 ? @meal.protein.to_i : @meal.protein %>g </p>
                <p>Carbohydrates: <%= (@meal.carbohydrate % 1) == 0 ? @meal.carbohydrate.to_i : @meal.carbohydrate %>g </p>
                <p>Fat: <%= (@meal.fat % 1) == 0 ? @meal.fat.to_i : @meal.fat.round %>g </p>

            </div>

            <%= link_to restaurant_path(@meal.restaurant), title: "Click on it to access to the restaurant" do %>
                <div class="restaurant">

                    <div class="name-rating">

                        <h2>From <%= @meal.restaurant.name %> </h2>

                        <div class="rating-restaurant">
                        <% if @meal.restaurant.rating == 0 %>
                            <p>?</p>
                        <% else %>
                            <%= (@meal.restaurant.rating % 1) == 0 ? @meal.restaurant.rating.to_i : @meal.restaurant.rating %>
                        <% end %>
                        </div>
                        
                    </div>

                    <div class="address-phone">

                        <p><%= @meal.restaurant.address %> </p>
                        <p><i class="fa-solid fa-phone"></i> <%= @meal.restaurant.phone %> </p>

                        <% if @meal.restaurant.open? %>
                            <p class="open"><span>Open</span>. It will close in <%= @meal.restaurant.whenClose  %></p> 
                        <% else %>
                            <p class="closed"><span>Closed</span>. It will open in <%= @meal.restaurant.whenOpen  %></p>
                        <% end %>
                    </div>
                
                </div>

            <% end %>

            <% if @meal.restaurant.user == current_user %>
                <div class="setting">
                    <p>
                        <%= link_to edit_restaurant_meal_path(@meal.restaurant, @meal), title: "Edit your meal" do %>
                            <i class="fa-solid fa-pen-to-square"></i>
                        <% end %>    
                    </p>
                    <p>
                        <%= link_to new_restaurant_meal_ingredient_path(@meal.restaurant, @meal), title: "Add a ingredient to the meal" do %>
                            <i class="fa-solid fa-cart-plus"></i>
                        <% end %>                    
                    </p>   
                    <p>
                        <%= link_to meal_path(@meal), method: :delete, data: { confirm: "Are you sure?" }, title: "Delete your meal" do %>
                            <i class="fa-solid fa-trash"></i>
                        <% end %>
                    </p> 
                </div>
            <% end %>


        </div>

        <div class="ingredients" > 
            <div class="title-line">
                <div class="line">
                </div>
                    <h2>Ingredients</h2>
                <div class="line">
                </div>
            </div>


            <button class="btn-top" data-action="click->defilement-ingredient-show#up">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </button>
        
            
            <div class="list-ingredients" data-defilement-ingredient-show-target = "cards">
            

                <% if @ingredients.nil? %>
                    <p>No ingredient added yet.</p>
                <% else %>
                    <% @ingredients.each do |ingredient| %>

                        <%= render "components/cardIngredient", ingredient: ingredient %>

                    <% end %>
                <% end %>

            </div>

            <button class="btn-bottom" data-action="click->defilement-ingredient-show#down">
                <i class="fa-solid fa-circle-chevron-down"></i>
            </button>
            
        </div>
    </div>



    </div>
</div>




<%# ----------------------------------------------------------------------------- %>





<% if false %>
<h1> <%= @meal.name %></h1>

<p> <%="Price: #{@meal.price}$"  %>
<p> <%="rating: #{@meal.rating}/5"  %>
<p></p>

<% if @meal.photo.attached? %>
    <%= cl_image_tag @meal.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
    <p>No picture available.</p>
<% end %>

<% if current_user == @meal.restaurant.user %>
    <p><%= link_to "edit the meal", edit_restaurant_meal_path(@meal.restaurant, @meal) %></p>
    <p><%= link_to "add new ingredient", new_restaurant_meal_ingredient_path(@meal.restaurant, @meal) %></p>
<% end %>

<% if @ingredients.nil? %>
    <p>No ingredient added yet.</p>
<% else %>
    <% @ingredients.each do |ingredient| %>
        <br>
        <p>---------------------------------------</p>
        <p><%= ingredient.name %> </p>
        <p>Proteins(100g): <%= ingredient.info["proteins_100g"] %>g</p>
        <p>Carbohydrates(100g)<%= ingredient.info["carbohydrates_100g"] %>g</p>
        <p><%= ingredient.weight %>g </p>
        <% if ingredient.image.nil? %>
            <p>No picture available</p>
        <% else %>
            <%= image_tag(ingredient.image) %>
        <% end %>
        <p>---------------------------------------</p>
        <%= link_to "Show #{ingredient.name}", ingredient_path(ingredient)  %>
        <%= link_to "Delete #{ingredient.name}",
                    ingredient_path(ingredient),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
        <p>---------------------------------------</p>
    <% end %>
<% end %>

<h2>Info nutriments</h2>
<p>Total proteins : <%= @meal.ingredients.inject(0) {|sum, ingredient| sum + (ingredient.info["proteins_100g"] * ingredient.weight)/100} %>g</p>
<p>Total carbohydrates : <%= @meal.ingredients.inject(0) {|sum, ingredient| sum + (ingredient.info["carbohydrates_100g"] * ingredient.weight)/100} %>g</p>

<p>Proteins: <%= @meal.protein %>g </p>
<p>Carbohydrates: <%= @meal.carbohydrate %>g </p>
<p>Fat: <%= @meal.fat %>g </p>

<% end %>

<%= link_to "Back to the restaurant", restaurant_path(@meal.restaurant)  %>