<h1>All the restaurants</h1>

<%= form_with url: restaurants_path, method: :get, class: "d-flex" do |form| %>
  <%= form.text_field :query,
    # params[:query],
    class: "form-control",
    placeholder: "Find a restaurant"
  %>

  <%= form.text_field :address,
    # params[:query],
    class: "form-control",
    placeholder: "Address",
    value: "Montreal",
    input_html: {data: {address_autocomplete_target: "address"}},
    wrapper_html: {data: {controller: "address-autocomplete", 
    address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>

  <%= form.text_field :distance,
    # params[:query],
    class: "form-control",
    placeholder: "Distance in km",
    value: "5"
  %>

  <select name="type" id="type">
    <option value="restaurants">Restaurants</option>
    <option value="meals">Meals</option>
    <optgroup label="Proteins">
      <option value="proteins+">+</option>
      <option value="proteins-">-</option>
    </optgroup>
    <optgroup label="Carbs">
      <option value="carbs+">+</option>
      <option value="carbs-">-</option>
    </optgroup>
    <optgroup label="Fats">
      <option value="fats+">+</option>
      <option value="fats-">-</option>
    </optgroup>
  </select>

  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if flash[:query_errors] %>
  <% flash[:query_errors].each do |msg| %>
    <p> <%= msg %> </p>
  <% end %>
<% end %>

<% if !@restaurants.nil? %>
  <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant)  %> </li>
  <% end %>
<% end %>

<% if !@meals.nil? %>
  <% @meals.each do |meal| %>
      <li><%= link_to meal.name, meal_path(meal)  %> </li>
  <% end %>
<% end %>

<div style="width: 50%; height: 200px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= link_to 'Create restaurant', new_restaurant_path %>