<h1>All the restaurants</h1>

<% if true %>
  <%= simple_form_for :queries, url: restaurants_path, method: :get  do |f| %>
    <%= f.input :query, placeholder: "Find a restaurant" %>
    <% if flash[:query_errors] %>
      <% flash[:query_errors].each do |msg| %>
        <p> <%= msg %> </p>
      <% end %>
    <% end %>
    <%= f.input :address,
    input_html: { data: {address_autocomplete_target: "address"}, class: "d-none"},
    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.input :distance, input_html: {value: "10"} , placeholder: "Distance in km" %>
    <%= f.input :type, collection: ["Restaurants", "Meals", "Proteins+", "Proteins-", "Carbs+", "Carbs-", "Fats+",  "Fats-"], selected: "Restaurants" %>
    <%= f.button :submit, "Search" %>
  <% end %>
<% end %>

<% if false %>
<%= form_with url: restaurants_path, method: :get, class: "d-flex" do |form| %>
  <%= form.text_field :query,
    # params[:query],
    class: "form-control",
    placeholder: "Find a restaurant"
  %>

  <%= form.text_field :address,
    # params[:query],
    class: "form-control",
    placeholder: "Address",
    value: "Montreal"
  %>

  <%= form.text_field :distance,
    # params[:query],
    class: "form-control",
    placeholder: "Distance in km",
    value: "5"
  %>

  <select name="type" id="type">
    <option value="Restaurants">Restaurants</option>
    <option value="Meals">Meals</option>
    <optgroup label="Proteins">
      <option value="Proteins+">+</option>
      <option value="Proteins-">-</option>
    </optgroup>
    <optgroup label="Carbs">
      <option value="Carbs+">+</option>
      <option value="Carbs-">-</option>
    </optgroup>
    <optgroup label="Fats">
      <option value="Fats+">+</option>
      <option value="Fats-">-</option>
    </optgroup>
  </select>

  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<% end %>

<% if !@restaurants.nil? %>
  <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant)  %> </li>
  <% end %>
<% end %>

<% if !@meals.nil? %>
  <% @meals.each do |meal| %>
      <li><%= link_to meal.name, meal_path(meal)  %> </li>
  <% end %>
<% end %>

<div style="width: 50%; height: 200px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= link_to 'Create restaurant', new_restaurant_path %>