
 <div class="showrestaurant" data-controller="defilement-img-show"
 data-defilement-img-show-nphotos-value = <%= @restaurant.photos.count %>>
  <div class="pictures">
    <% if @restaurant.photos.attached? %>
        <% if @restaurant.photos.count == 1 %>
          <div class="fav">

            <% if current_user.nil? %>

              <div class="nologin">
                <div class="heart">
                    <i class="fa-duotone fa-regular fa-heart"></i>
                </div>
                <div class="fheart">
                    <i class="fa-sharp fa-solid fa-heart"></i>
                </div>
              </div>
              
            <% elsif current_user.favorites.where(restaurant_id: @restaurant).empty? %>
              <%= simple_form_for [@restaurant, @favorite] do |f| %>
                <%= button_tag type: 'submit', class: "" do %>
                    <div class="heart">
                        <i class="fa-duotone fa-regular fa-heart"></i>
                    </div>
                    <div class="fheart">
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to favorite_path(@favorite), method: :delete do %>
                <div class="redheart">
                    <i class="fa-sharp fa-solid fa-heart"></i>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="img-restaurant">

            <% @restaurant.photos.each do |photo| %>

              <div class="img-card">
                <%= cl_image_tag photo.key, crop: :fill %>
              </div>
              
            <% end %>

          </div>

        <% elsif @restaurant.photos.count == 2 %>

          <div class="fav">
            <% if current_user.nil? %>

              <div class="nologin">
                <div class="heart">
                    <i class="fa-duotone fa-regular fa-heart"></i>
                </div>
                <div class="fheart">
                    <i class="fa-sharp fa-solid fa-heart"></i>
                </div>
              </div>

            <% elsif current_user.favorites.where(restaurant_id: @restaurant).empty? %>
              <%= simple_form_for [@restaurant, @favorite] do |f| %>
                <%= button_tag type: 'submit', class: "" do %>
                    <div class="heart">
                        <i class="fa-duotone fa-regular fa-heart"></i>
                    </div>
                    <div class="fheart">
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to favorite_path(@favorite), method: :delete do %>
                <div class="redheart">
                    <i class="fa-sharp fa-solid fa-heart"></i>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="img-restaurant-2">
            <% i = 0 %>
            <% @restaurant.photos.each do |photo| %>
              <% i += 1 %>
              <button class="btn-img" data-action="click->defilement-img-show#switch" data-defilement-img-show-target="img">
                <%= cl_image_tag photo.key, crop: :fill %>
              </button>
              
            <% end %>

          </div>
          
        <% else %>

          <div class="btn-img-outside">

            <div>
                <button class="left" id="button"
                data-defilement-img-show-target="btnLeft" 
                data-action="click->defilement-img-show#previous">
                </button>
            </div>
            
            <div>
                <button class="right" 
                data-defilement-img-show-target="btnRight"
                data-action="click->defilement-img-show#next">
                </button>
            </div>
            
          </div>

          <div class="fav">
            <% if current_user.nil? %>
              
              <div class="nologin">
                <div class="heart">
                    <i class="fa-duotone fa-regular fa-heart"></i>
                </div>
                <div class="fheart">
                    <i class="fa-sharp fa-solid fa-heart"></i>
                </div>
              </div>

            <% elsif current_user.favorites.where(restaurant_id: @restaurant).empty? %>
              <%= simple_form_for [@restaurant, @favorite] do |f| %>
                <%= button_tag type: 'submit', class: "" do %>
                    <div class="heart">
                        <i class="fa-duotone fa-regular fa-heart"></i>
                    </div>
                    <div class="fheart">
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to favorite_path(@favorite), method: :delete do %>
                <div class="redheart">
                    <i class="fa-sharp fa-solid fa-heart"></i>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="img-restaurant-more">
            
            <% @restaurant.photos.each do |photo| %>
        
              <div class="btn-img" data-defilement-img-show-target="img">
                <%= cl_image_tag photo.key, crop: :fill %>
              </div>
              
            <% end %>

          </div>

        <% end %>

    <% else %>

      <div class="fav">
        <% if current_user.nil? %>
          
          <div class="nologin">
            <div class="heart">
                <i class="fa-duotone fa-regular fa-heart"></i>
            </div>
            <div class="fheart">
                <i class="fa-sharp fa-solid fa-heart"></i>
            </div>
          </div>

        <% elsif current_user.favorites.where(restaurant_id: @restaurant).empty? %>
          <%= simple_form_for [@restaurant, @favorite] do |f| %>
            <%= button_tag type: 'submit', class: "" do %>
                <div class="heart">
                    <i class="fa-duotone fa-regular fa-heart"></i>
                </div>
                <div class="fheart">
                    <i class="fa-sharp fa-solid fa-heart"></i>
                </div>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to favorite_path(@favorite), method: :delete do %>
            <div class="redheart">
                <i class="fa-sharp fa-solid fa-heart"></i>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="img-restaurant">
        <%= image_tag 'LogoHuntingFoodWithBg', crop: :fill %>
      </div>
    <% end %>
  </div>

  <div class="restaurant-menu" data-controller="defilement-meal-show" data-defilement-meal-show-nmeals-value = <%= @restaurant.meals.count %>>
  
    <div class="info-restaurant">
      <div class="name-rating">

        <div class="space"></div>

        <h2> <%= @restaurant.name %> </h2>

        <div class="rating-restaurant">
          <% if @restaurant.rating == 0 %>
            <p>?</p>
          <% else %>
            <%= (@restaurant.rating % 1) == 0 ? @restaurant.rating.to_i : @restaurant.rating %>
          <% end %>
        </div>
        
      </div>
      
      <div class="address-phone">
      
        <p><%= @restaurant.address %> </p>

        <p><i class="fa-solid fa-phone"></i> <%= @restaurant.phone %> </p>

        <% if @restaurant.open? %>

          <button title="Click to Show/Hide the schedule" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {
              document.getElementById('spoiler') .style.display='block'
              document.getElementById('spoiler') .style.animation='fade_in_show 0.5s'
            }else{
              document.getElementById('spoiler') .style.display='none'
              // document.getElementById('spoiler') .style.animation='fade_out_show 0.5s'
              }">
            
            <%schedule =  @restaurant.schedules.where(weekday: Time.now.wday).first %>
            <% if schedule.am_closes_at.nil? %>
                <p class="open"><span>Open</span> <%= schedule.am_opens_at.strftime("%H:%M") %> - <%= schedule.pm_closes_at.strftime("%H:%M") %></p>
            <% else %>
              <p class="open"><span>Open</span> 
                  <%= schedule.am_opens_at.strftime("%H:%M") %> - <%= schedule.am_closes_at.strftime("%H:%M") %> / 
                  <%= schedule.pm_opens_at.strftime("%H:%M") %> - <%= schedule.pm_closes_at.strftime("%H:%M") %>
              </p>
            <% end %>

          </button>
          
          <div id="spoiler" style="display:none">
          
            <% @restaurant.schedules.each do |schedule| %>
              <% if schedule.am_closes_at.nil? %>
                  <p><%= weekdays[schedule.weekday - 1][:label] %> : <%= schedule.am_opens_at.strftime("%H:%M") %> - <%= schedule.pm_closes_at.strftime("%H:%M") %></p>
              <% else %>
              <p><%= weekdays[schedule.weekday - 1][:label] %>:
                  <%= schedule.am_opens_at.strftime("%H:%M") %> - <%= schedule.am_closes_at.strftime("%H:%M") %> / 
                  <%= schedule.pm_opens_at.strftime("%H:%M") %> - <%= schedule.pm_closes_at.strftime("%H:%M") %>
              </p>
              <% end %>
            <% end %>

          </div>

          <p>It will close in <%= @restaurant.whenClose  %></p>

        <% else %>

            <button title="Click to Show/Hide the schedule" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {
              document.getElementById('spoiler') .style.display='block'
              document.getElementById('spoiler') .style.animation='fade_in_show 0.5s'
              }else{
                document.getElementById('spoiler') .style.display='none'
                // document.getElementById('spoiler') .style.animation='fade_out_show 0.5s'
              }">
            
              <%schedule =  @restaurant.schedules.where(weekday: Time.now.wday).first %>
              <% if !schedule.nil? %>
                <% if schedule.am_closes_at.nil? %>
                    <p class="closed"><span>Closed</span> <%= schedule.am_opens_at.strftime("%H:%M") %> - <%= schedule.pm_closes_at.strftime("%H:%M") %></p>
                <% else %>
                  <p class="closed"><span>Closed</span>
                      <%= schedule.am_opens_at.strftime("%H:%M") %> - <%= schedule.am_closes_at.strftime("%H:%M") %> / 
                      <%= schedule.pm_opens_at.strftime("%H:%M") %> - <%= schedule.pm_closes_at.strftime("%H:%M") %>
                  </p>
                <% end %>
              <% else %>
                <p class="closed"><span>Closed</span></p>
              <% end %>
            
            </button>

            <div id="spoiler" style="display:none">
            
              <% @restaurant.schedules.each do |schedule| %>
                <% if schedule.am_closes_at.nil? %>
                    <p><%= weekdays[schedule.weekday - 1][:label] %> : <%= schedule.am_opens_at.strftime("%H:%M") %> - <%= schedule.pm_closes_at.strftime("%H:%M") %></p>
                <% else %>
                <p><%= weekdays[schedule.weekday - 1][:label] %>:
                    <%= schedule.am_opens_at.strftime("%H:%M") %> - <%= schedule.am_closes_at.strftime("%H:%M") %> / 
                    <%= schedule.pm_opens_at.strftime("%H:%M") %> - <%= schedule.pm_closes_at.strftime("%H:%M") %>
                </p>
                <% end %>
              <% end %>
            </div>


            <p>It will open in <%= @restaurant.whenOpen  %></p>
        <% end %>
 
        <%# <button title="Click to Show/Hide Content" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {document.getElementById('spoiler') .style.display=''}else{document.getElementById('spoiler') .style.display='none'}">Show/Hide</button>
        <div id="spoiler" style="display:none">
        ADD YOUR HIDDEN CONTENT HERE
        </div> %>
      </div>

      <div class="description">
        <p><%= @restaurant.description %> </p>
      </div>

      <div class="rating">
        
        <% if Ratingr.find_by(user_id: current_user, restaurant_id: @restaurant).nil? %>
          <p>Rate this restaurant: </p>
          <%= simple_form_for [@restaurant, @ratingr] do |f| %>
            <%= f.input :content, collection: (1..5).to_a, label: false, selected: 5 %>
            <%#= f.submit "Submit yout rating" %>
            <div class="submitinput">
              <%= button_tag type: 'submit', class: "" do %>
                <i class="fa-solid fa-check"></i>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p>You rate this restaurant <span><%= Ratingr.find_by(user_id: current_user, restaurant_id: @restaurant).content %>/5</span></p>
        <% end %>
      </div>

      <% if @restaurant.user == current_user %>
        <div class="setting">
            <p>
                <%= link_to edit_restaurant_path(@restaurant), title: "Edit your restaurant" do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                <% end %>    
            </p>
            <p>
                <%= link_to new_restaurant_meal_path(@restaurant), title: "Add a meal to your restaurant" do %>
                    <i class="fa-solid fa-cart-plus"></i>
                <% end %>                    
            </p>   
            <p>
                <%= link_to restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" }, title: "Delete your restaurant" do %>
                    <i class="fa-solid fa-trash"></i>
                <% end %>
            </p> 
        </div>
      <% end %>
    
    </div>

    <% if @restaurant.meals.count == 0 %>
      <div onload="document.querySelector('menu').style.display=='none'"></div>
    <% end %>

    <div class="menu" >
      <div class="title-line">
        <div class="line">
        </div>
        <h2>Menu</h2>
        <div class="line">
        </div>
      </div>

      <button class="btn-top" data-action="click->defilement-meal-show#up">
          <i class="fa-solid fa-circle-chevron-up"></i>
      </button>

      <div class="list-menus" data-defilement-meal-show-target = "cards">
        
        <% if @restaurant.meals.nil? %>
            <p>No ingredient added yet.</p>
        <% else %>

          <% @restaurant.meals.each do |meal| %>

            <% if meal.restaurant.user == current_user %>
              <div class="delete">
                <%= link_to meal_path(meal),
                method: :delete,
                data: { confirm: "Are you sure?" }, title: "Remove this meal to your restaurant" do %>
                    <i class="fa-regular fa-circle-xmark"></i>
                <% end %>
              </div>
            <% end %>

            <%= link_to meal_path(meal) do %>
              <%= render "components/cardproduct", meal: meal %>
            <% end %>

          <% end %>

        <% end %>

      </div>

      <button class="btn-bottom" data-action="click->defilement-meal-show#down">
          <i class="fa-solid fa-circle-chevron-down"></i>
      </button>
      
    </div>
  </div>

  <div class="comments">
    <div class="title-line">
      <div class="line">
      </div>
      <h2>Comments</h2>
      <div class="line">
      </div>
    </div> 

    <div class="list-comments">
      <div data-controller="insert-in-list">

        <div class="insert-in-list" data-insert-in-list-target="items">
          <% @restaurant.comments.each do |comment| %>
              <%= render "components/commentcardhome", comment: comment %>
          <% end %>
        </div>
      
      
      <% if user_signed_in? %>
        <div class="comment-adv">
          <div class="simple-form">
            <%= render 'comments/form', restaurant: @restaurant, comment: @comment %>
          </div>
        </div>
      <% end %>
      
      </div>
    </div>

  </div>
</div>

<% if !current_user.nil? && current_user.id == @restaurant.user_id %>
    <%= link_to "Create new meal", new_restaurant_meal_path(@restaurant)  %>
    <%= link_to "Modifiy #{@restaurant.name}", edit_restaurant_path(@restaurant)  %>
    <%= link_to "Delete #{@restaurant.name}",
                restaurant_path(@restaurant),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
<% end %>
